body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(11, 50px);
    gap: 2px;
    justify-content: center;
    margin: 20px auto;
    position: relative;
}

.hex {
    width: 50px;
    height: 50px;
    background-color: #eaa001;
    clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    rotate: 90deg;
}

.innerHex {
    width: 40px;
    height: 40px;
    background-color: #ffe11d;
    clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hex.blocked {
    background-color: black;
}

.hex.cat {
    background-color: brown;
}

#reset-button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.bee img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Allows clicking through the image */
    rotate: 270deg;
}

#game {
    text-align: center;
    /* Center align images */
    margin-top: 20px;
    /* Space between reset button and images */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

img {
    height: 100px;
    width: 100px;

}

.TypeOfGame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    background-color: rgb(254, 255, 217);
    max-width: 600px;
    border-radius: 5px;
    display: block;
}

.TypeOfGame:hover {
    background-color: rgb(142, 168, 255);
}

a {
    color: black;
}

.name {
    background-color: black;
    padding: 10px;
    color: white
}